.nav{
    background-color: #1d1d1d;
    display: flex;
    height: 100px;
    max-height: 100px;
    color: black;
    justify-content: space-between;
    z-index: 1;
}

.nav__profile{
    height: 100%;
    /* flex-grow: 1; */
}

.nav__profile--img{
    border-radius:10px;
    height: 100%;
    
}

.nav__social{
    height: 100%;
    display: flex;
    align-items:center;
    /* flex-grow: 1; */
}

.nav__social--linkedin{

    width: 55px;
}

.nav__social--github{
    width: 55px;
}

.nav__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: -700px;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    transition: all .5s ease;
}

.nav__buttons.active{
  width: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}


.nav__buttons.active .nav__buttons--button {
    margin-top: 10px;
}

.nav__buttons--button{
    text-decoration: none;
    margin: 0 38px;
    display: block;
    color: white;
}


/* nav-icon-1 */
.nav-icon-1{
    width: 30px;
    height: 30px;
    position: relative;
    transition: .1s;
    margin: 10px 10px;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-1 span{
    width: 5px;
    height: 5px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
  
  }
  .nav-icon-1:hover span{
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1 span:nth-child(1){
    left: 0;
    top: 0;
  }
  .nav-icon-1 span:nth-child(2){
    left: 12px;
    top: 0;
  }
  .nav-icon-1 span:nth-child(3){
    right: 0;
    top: 0;
  }
  .nav-icon-1 span:nth-child(4){
    left: 0;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(5){
    position: absolute;
    left: 12px;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(6){
    right: 0px;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(7){
    left: 0px;
    bottom: 0px;
  }
  .nav-icon-1 span:nth-child(8){
    position: absolute;
    left: 12px;
    bottom: 0px;
  }
  .nav-icon-1 span:nth-child(9){
    right: 0px;
    bottom: 0px;
  }
  .nav-icon-1.open{
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1.open span{
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1.open span:nth-child(2) {
    left: 6px;
    top: 6px;
  }
  .nav-icon-1.open span:nth-child(4) {
    left: 6px;
    top: 18px;
  }
  .nav-icon-1.open span:nth-child(6) {
    right: 6px;
    top: 6px;
  }
  .nav-icon-1.open span:nth-child(8) {
    left: 18px;
    bottom: 6px;
  }



  .initial{
    position: absolute;
    /* background-color: rgba(33, 40, 238, 0.576); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,41,154,1) 67%, rgba(0,56,255,1) 100%);

    top: -700px;
    left: -5000px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0 0 80% 0;
    transition: all .4s ease;
  }
  .initial.active{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
  }

  .nav_hamburger{
    background-color: black;
    z-index: 2;
  }


  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
@media (min-width:768px) {
    .nav_hamburger{
        display: none;
    }
    .initial{
        display: none;
    }
    .nav__buttons{
        position: initial;
        margin: 0;
        color: white;
        
    }
}
